.loader-jelly {
	--loader-size: 40px;
	--loader-color: var(--accent, #ff9a2d);
	--loader-speed: 0.8s;
	position: relative;
	width: var(--loader-size);
	height: calc(var(--loader-size) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
	filter: url('#loader-jelly-ooze');
	animation: loader-rotate 1.6s linear infinite;
}

.loader-jelly-core {
	position: relative;
	width: 100%;
	height: 100%;
}

.loader-jelly-core::before,
.loader-jelly-core::after {
	content: '';
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 100%;
	background: var(--loader-color);
	border-radius: 50%;
}

.loader-jelly-core::before {
	animation: loader-shift-left var(--loader-speed) ease infinite;
}

.loader-jelly-core::after {
	animation: loader-shift-right var(--loader-speed) ease infinite;
}

.loader-jelly-maker {
	width: 0;
	height: 0;
	position: absolute;
}

@keyframes loader-rotate {
	0%,
	49.999%,
	100% {
		transform: none;
	}

	50%,
	99.999% {
		transform: rotate(90deg);
	}
}

@keyframes loader-shift-left {
	0%,
	100% {
		transform: translateX(0%);
	}

	50% {
		transform: scale(0.65) translateX(-75%);
	}
}

@keyframes loader-shift-right {
	0%,
	100% {
		transform: translateX(0%);
	}

	50% {
		transform: scale(0.65) translateX(75%);
	}
}
