@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #000000;
		--text: #fff;
		--card: #171717;
		--label: #818181;
		--background-muted: #202020;
		--accent-orange: #f89a04;
		--divider: #303030;
	}

	body {
		@apply bg-background text-text;
	}
}
